header {
  background-image:url('../img/mt-logo.png');
  background-repeat:no-repeat;
  background-position:left top;
  height:200px;
  padding-left:184px;
}
.bus {
  float:left;
  height:150px;
  margin:10px;
  position:relative;
  width:150px;

  -moz-border-radius:5px 5px 5px 5px;
  -webkit-border-radius:5px 5px 5px 5px;      
  -moz-box-shadow:0px 0px 15px rgb(48, 144, 205);
  -webkit-box-shadow:0px 0px 15px rgb(48, 144, 205);
}
  .bus section {
    background-color:#e30;
    border:solid 2px #fff;
    bottom:-10px;
    color:white;
    font-size:18px;
    font-weight:bold;
    height:31px;
    padding-top:5px;
    position:absolute;
    right:-10px;
    text-align:center;
    width:36px;

    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -moz-box-shadow:0px 0px 5px rgb(0, 0, 0);
    -webkit-box-shadow:0px 0px 5px rgb(0, 0, 0);
  }

